################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Echoing Shots/Assets/Levels/Actual Game Levels/2 House in the Hill.unity
